section#promotion {
  padding: 50px 0;
}
section#promotion .wrap {  
  /*! height: 100%; */
  gap: 22px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  /*! column-gap: 22px; */
}
section#promotion .wrap h2 {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-weight: 700;
  color: #616161;
}
section#promotion .wrap iframe {
  border: 1px solid #333;
  align-items: center;
  /*! display: flex; */
  justify-content: center;
  box-sizing: border-box;
}
section#promotion .wrap iframe:nth-child(1){
  
}
section#promotion .wrap iframe:nth-child(2){
  grid-column: 1;
  grid-row: 2 / span 3;
  width: 100%;
  height: 550px;
}
section#promotion .wrap iframe:nth-child(3){ 
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: calc(550px / 2 - 11px);
}
section#promotion .wrap iframe:nth-child(4){
  grid-column: 2;
  grid-row: 3;
  width: 100%;
  height: calc(550px / 2 - 11px);
}
/* business */
section#business {  
  background-color: #eee;
  padding: 50px 0;
}
section#business .flex {  
  height: 100%;
  gap: 15px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  width: 100%;
  grid-template-columns: 100%;
}
section#business .flex h2 {
   font-weight: 700;
   color: #616161;
   grid-row: 2;
   text-align: center;
   margin-bottom: 0;
}
section#business .flex .por {  
  
  position: relative;
}
section#business .flex .por h3 { 
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 100%;
  color: white;
}
section#business .flex .por p { 
  position: absolute;
  bottom: -50px;
  width: 100%;
  text-align: center;
  height: 100%;
  color: white;
}
section#business .flex .por:nth-of-type(1){  
}
section#business .flex .por:nth-of-type(1)::before{
  content: "";
  background-image: url(../img/busi_01.png);
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
}
section#business .flex .por:nth-of-type(2){
  
}
section#business .flex .por:nth-of-type(2):before{
  content: "";
  background-image: url(../img/busi_02.jpg);
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
}
/* section#business .flex ul li:nth-of-type(1){  
  width: 100%;
  height: 50%;
  height: 30%;
}
section#business .flex ul li:nth-of-type(2){
  /*! display: none; */
  /* width: 100%;
  height: 50%;
}
section#business .flex ul li a { 
  perspective: 800px;
}
section#business .flex ul li a::before{
  content: "";
  width: 728px;
  height: 335px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  /*! border-radius: 20px; */
  /* width: 100%; */
  /*! height: 100%; */
  /* position: relative;
}
section#business .flex ul li a:hover::before{ */
  /*! transform: rotateY(60deg) */
/* }
section#business .flex ul li:nth-child(1) a::before{
  background-image: url(../img/busi_01.png);
  background-color: #eee;
  background-position: center;
}
section#business .flex ul li:nth-child(2) a::before{
  background-image: url(../img/busi_02.jpg);  
  background-position: center;
  margin-top: 25px;
} */
/* section#business .flex ul li a h3 {   */
  /*! margin: 30px 0 10px 0; */
  /*! position: absolute; */
  /* top: 0;
  margin-top: 10px;
  font-weight: 700;
  color: #525151;
}
section#business .flex ul li a p {  
  color: #848383; */
  /*! position: absolute; */
  /* top: 0; */
  /*! margin-bottom: 10px; */
/* } */
/* products */
section#products {
  position: relative;
  box-sizing: border-box;
}
section#products .wrap {  
  height: 100%;
  flex-direction: column-reverse;
  max-width: 100%;
  display: flex;
  align-items: center;
  width: 80%;
  width: 100%;
}
section#products .wrap h2 {
  order: 1;
  padding: 50px 0 0;
  width: 1520px;
  margin: 0 auto;
  font-weight: 700;
  color: #616161;
}
section#products .wrap div.sliD {
  height: 100%;
  width: 100%;
}
section#products .wrap div.sliD article {  
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px 30px;
  transition: all 1s;
  box-sizing: border-box;
}
section#products .wrap div.sliD article:hover{
  transform: translateY(-30px);
}
/* section#products .wrap div article:nth-child(2){ 
  transform: translateY(50px);
}
section#products .wrap div article:nth-child(3){
  transform: translateY(-50px);
}
section#products .wrap div article:nth-child(4){
  transform: translateY(50px);
}
section#products .wrap div article:nth-child(6){
  transform: translateY(-50px);
}*/
section#products .wrap div article h3 {
  margin: 10px 0 30px 0;
  order: 2;
  color: #616161;
}
section#products .wrap div article a{
  /*! width: 100%; */
  order: 1;
}
section#products .wrap div article a img { 
  width: 100%;
  height: auto;
  order: 1;
  border-radius: 15px;
  transition: all 1s;
}
/* section#products .wrap div article img:hover{
  transform: translateY(-30px);
} */
/* news */
section#news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #eeeeee;
}
section#news .wrap {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  /*! row-gap: 20px; */
  position: relative;
}
section#news .wrap h2 {
  grid-column: 1;
  grid-row: 2;
}
section#news .wrap h3 {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-weight: 700;
  color: #339a12;
}
section#news .wrap h3 span {

}
section#news .wrap a.more {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: flex;
  justify-content: end;
}
section#news .wrap ul {
  grid-column: 1 / span 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  padding-top: 50px;
}
section#news .wrap ul li { 

}
section#news .wrap ul li:nth-child(1){
  grid-column: 1;
  grid-row: 1; 
}
section#news .wrap ul li:nth-child(2){
  grid-column: 2;
  grid-row: 1;
}
section#news .wrap ul li:nth-child(3){
  grid-column: 1;
  grid-row: 2;
}
section#news .wrap ul li:nth-child(4){
  grid-column: 2;
  grid-row: 2;
}
section#news .wrap ul li a {
  border-top: 2px solid lightgray;
  padding-top: 25px;
}
section#news .wrap ul li a span.title {
  
}
section#news .wrap ul li a span.block {  
  color: #7e7d7d;
}
section#news .wrap ul li a time {
  
}
section#news .wrap a.more {  
  font-size: 20px;
}
section#news .wrap a.more:before{
  content: "";
  background-image: url(../img/arrow_right_long.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  position: absolute;
  right: -37px;
  top: 74px;
}
section#news .wrap a.more b{
  color: gray;
}