section#promotion {
  padding: 50px 0;
}
section#promotion .wrap {  
  /*! height: 100%; */
  gap: 22px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  /*! column-gap: 22px; */
}
section#promotion .wrap h2 {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-weight: 700;
}
section#promotion .wrap iframe {
  border: 1px solid #333;
  align-items: center;
  /*! display: flex; */
  justify-content: center;
  box-sizing: border-box;
}
section#promotion .wrap iframe:nth-child(1){
  
}
section#promotion .wrap iframe:nth-child(2){
  grid-column: 1;
  grid-row: 2 / span 3;
  width: 100%;
  height: 550px;
}
section#promotion .wrap iframe:nth-child(3){ 
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: calc(550px / 2 - 11px);
}
section#promotion .wrap iframe:nth-child(4){
  grid-column: 2;
  grid-row: 3;
  width: 100%;
  height: calc(550px / 2 - 11px);
}
/* business */
section#business {  
  background-color: #eee;
  padding: 50px 0;
}
section#business .wrap {  
  height: 100%;
  gap: 15px;
}
section#business .wrap h2 {
   margin-bottom: 22px;
   font-weight: 700;
}
section#business .wrap ul {  
  gap: 54px;
}
section#business .wrap ul li { 
  width: 50%;
  text-align: center;
}
section#business .wrap ul li a {
  
  perspective: 800px;
}
section#business .wrap ul li a::before{
  content: "";
  width: 728px;
  height: 335px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
section#business .wrap ul li a:hover::before{
  /*! transform: rotateY(60deg) */
}
section#business .wrap ul li:nth-child(1) a::before{
  background-image: url(../img/busi_01.png);
  background-color: #eee;
  transform: rotateY(0deg);
  transition: all 1s;
}
section#business .wrap ul li:nth-child(2) a::before{
  background-image: url(../img/busi_02.jpg);
  
}
section#business .wrap ul li a h3 {  
  margin: 30px 0 10px 0;
}
section#business .wrap ul li a p {
  
}
/* products */
section#products {
  position: relative;
  padding: 50px 0;
}
section#products .wrap {  
  height: 100%;
  flex-direction: column-reverse;
  max-width: 100%;
  display: flex;
  align-items: center;
}
section#products .wrap h2 {
  order: 1;
  padding-top: 50px;
  width: 1520px;
  margin: 0 auto;
  font-weight: 700;
}
section#products .wrap div {
  height: 100%;
  display: flex;
  gap: 50px;
  /*! max-width: 1903px; */
}
section#products .wrap div article {  
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/* section#products .wrap div article:nth-child(2){ 
  transform: translateY(50px);
}
section#products .wrap div article:nth-child(3){
  transform: translateY(-50px);
}
section#products .wrap div article:nth-child(4){
  transform: translateY(50px);
}
section#products .wrap div article:nth-child(6){
  transform: translateY(-50px);
}*/
section#products .wrap div article h3 {
  margin: 10px 0 30px 0;
  order: 2;
}
section#products .wrap div article a{
  width: 100%;
  order: 1;
}
section#products .wrap div article a img { 
  /*! width: 100%; */
  /*! height: 45%; */
  order: 1;
  border-radius: 15%;
  transition: all 1s;
}
section#products .wrap div article img:hover{
  transform: translateY(-30px);
}
/* news */
section#news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #eeeeee;
}
section#news .wrap {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  /*! row-gap: 20px; */
  position: relative;
}
section#news .wrap h2 {

  grid-column: 1;
  grid-row: 2;
}
section#news .wrap h3 {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-weight: 700;
}
section#news .wrap h3 span {

}
section#news .wrap a.more {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: flex;
  justify-content: end;
}
section#news .wrap ul {
  grid-column: 1 / span 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  padding-top: 50px;
}
section#news .wrap ul li { 

}
section#news .wrap ul li:nth-child(1){
  grid-column: 1;
  grid-row: 1; 
}
section#news .wrap ul li:nth-child(2){
  grid-column: 2;
  grid-row: 1;
}
section#news .wrap ul li:nth-child(3){
  grid-column: 1;
  grid-row: 2;
}
section#news .wrap ul li:nth-child(4){
  grid-column: 2;
  grid-row: 2;
}
section#news .wrap ul li a {
  border-top: 2px solid lightgray;
  padding-top: 25px;
}
section#news .wrap ul li a:hover{
  color: #abd732;
}
section#news .wrap ul li a span {
  
}
section#news .wrap ul li a time {
  
}
section#news .wrap a.more {  
  font-size: 20px;
}
section#news .wrap a.more:before{
  content: "";
  background-image: url(../img/arrow_right_long.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  position: absolute;
  right: -37px;
  top: 74px;
}
section#news .wrap a.more b{
  color: gray;
}