@media screen and (max-width:980px){
  body{
    color:000;
  }
  .vh100{  
    min-height: auto;
  }
  .wrap{
    padding: 0 15px;
  }
  header .wrap ul.gnb{
    display: none;
  }
  header .wrap span.lang{
    display: none;
  }
  .ham{
    display: flex;
    display: inherit;
  }
  .h1{    
    font-size: calc(64px * 0.6);
  }
  main .h2{
    font-size: calc(50px * 0.6);
  }
  .h3{    
    font-size: calc(40px * 0.8);
  }
  .h4{    
    font-size: calc(34px * 0.6);
  }
  .h5{
    font-size: calc(24px * 0.6);
    font-size: calc(1rem * 0.9);
  }
  .h6{    
    font-size: calc(20px * 0.6);
  }
/*  aslide  */
  aside{    
    display: none;
  }
/*  타이틀  */
  #title{ 
    min-height: auto;
  }
  #title .wrap .witem{    
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  #title .wrap .witem1::after{    
    width: 100%;
    height: 100%;
  }
  #title .wrap .witem h2{    
    z-index: 1;
    text-align: center;
    order: 1;
    margin-bottom: 20px;
    border-top: 3.5px solid white;
    padding-top: 20px;
    color: white;
  }
  #title .wrap .witem h2 span{
    display: inherit;
  }
  #title .wrap .witem p{
    z-index: 1;
    top: 55%;
    order: 2;
    border-bottom: 3.5px solid white;
    padding-bottom: 20px;
    color: white;
  }
/*  비디오  */
  section#promotion{    
  height: inherit;
  }
  section#promotion .wrap{
    /*! display: flex; */
    /*! flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  section#promotion .wrap iframe{    
    width: calc(100vw - 30px);
    height: calc(36.25vh - 30px);
    /*! width: 100vw; */
    /*! height: 36.25vh; */
  }
  section#promotion .wrap iframe:nth-child(2){    
    height: 36.1842105vh;
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  section#promotion .wrap iframe:nth-child(3){    
    height: 56.2602965vw;
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 3;
  }
  section#promotion .wrap iframe:nth-child(4){    
    height: 56.2602965vw;
    grid-column: 2;
    grid-row: 3;
    height: 100%;
    width: 100%;
  }
/*  비즈니스  */
  section#business{    
  /*! height: inherit; */
  }
  section#business .flex{
   /*! display: flex; */
   /*! height: 100vh; */
   /*! width: fit-content; */
   grid-template-rows: auto auto auto;
  }
  section#business .flex h2{    
    /*! margin-bottom: 22px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section#business .flex .por{    
  height: 100%;
  }
  section#business .flex .por:nth-of-type(1)::before{    
  background-repeat: no-repeat;
  background-size: cover;
  }
  section#business .flex .por:nth-of-type(2)::before{    
  background-repeat: no-repeat;
  background-size: cover;
  }
  section#business .flex .por a{    
  display: block;
  height: 100%;
  }
  section#business .flex ul{    
    /*! display: initial; */
  }
  section#business .flex ul li{   
    width: auto;
    padding-bottom: 15px;
  }
  section#business .flex ul li:nth-of-type(1){    
    height: 100%;
  }
  section#business .flex ul li:nth-of-type(2){    
    height: 100%;
  }
  section#business .flex ul li a{    
    perspective: initial;
  }
  section#business .flex ul li a::before{
    width: calc(100vw - 30px);
    height: calc(46.0164835vw - 30px);
    max-width: 728px;
    max-height: 335px;
    margin: 0 auto;
    border-radius: 20px;
  }
  section#business .flex ul li:nth-child(2) a::before{    
  margin-top: inherit;
  }
  section#business .flex ul li a h3{  
    position: inherit;
  }
  section#business .flex ul li a p{
    position: inherit;
  }
/*  products  */
  section#products{    
  height: initial;
  }
  section#products .wrap h2{  
  padding: 50px 0;
  }
/* 뉴스 */
  section#news{
    
  height: inherit;
  padding: 50px 0;
  }
  section#news .wrap h3{    
    line-height: 1.2;
  }
  section#news .wrap h3 span{    
    flex-wrap: wrap;
    display: flex;
  }
  section#news .wrap a.more{    
    font-size: 0;
  }
  section#news .wrap ul{    
    display: flex;
    flex-direction: column;
  }
  section#news .wrap ul li:nth-child(3){    
    display: none;
  }
  section#news .wrap ul li:nth-child(4){    
    display: none;
  }
  section#news .wrap a.more b{    
    font-size: 0;
    background-image: url(../img/arrow_right_long.svg);
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
  }
/*  footer  */
  footer{    
    padding: 0 15px;
  }
  footer .wrap{    
    display: initial;
  }
  footer .wrap ul.adress adress{    
    line-height: 1;
    font-size: 1rem;
  }
  footer .wrap ul.adress p{    
    font-size: 1rem;
  }
  footer .wrap ul.name{
    display: initial;
  }
  footer .wrap ul.adress{    
    width: 100%;
  }
  footer .wrap ul.name select{    
    margin: 10px 0 10px auto;
  }
  footer .wrap ul.name a{    
    position: relative;
    top: -45px;
  }
}

/* 트 */

@media screen and (max-width:980px){
  body{
    color:111;
    overflow-x: hidden;
  }
}


